
body{
    background-color: aliceblue;
    text-align: center;
    width: 70rem;
    margin: 20px auto;
}

section{
    width: 45rem;
    margin: 10px auto;
    padding: 30px 10px;
    background: #e0e7ff;
    border-radius: 10px;
    color: #4338ca;
    text-align: center;
}
.commentSection{
    width: 70rem;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 20px;
    
}
.comment{
    font-family:sans-serif;
    font-size: 1.1rem;
    border: 1px solid #ada6a6;
    border-top-width: 3px;
    border-radius: 10px;
    padding: 30px 20px;
    cursor: pointer;
    margin:10px 10px;
    width: 18rem;
    transform: skew(8deg,1deg);
    transition: all 500ms;
    overflow:hidden;
}
.comment:hover{
    border: 2px solid orange;
    box-shadow: 0 5px 20px 0px rgba(0,0,0,.1);
    transform: skew(1deg,0deg);
    transform: translateY(-8px);
}

/* styles of fullComment */
.fullcomment{
    height: 10rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background: #e0e7ff;
    border-radius: 10px;
    padding: 5px 28px;
    transition: all 1s;
    
}
.fullcomment:hover .deleteBtn{
    opacity: 1;
}
.fullcomment a {
    opacity: 0;
    width: 40px;
    height: 40px;
    background-color: #fff;
    text-align: center;
    margin: 0 auto;
    display: block;
    border-radius: 50%;
    position: relative;
    overflow: hidden;
    border: 3px solid #fff;
    z-index: 1;
  }
.deleteBtn{
    opacity: 0;
    font-size: 2rem;
    color: rgba(240, 2, 2, 0.671);
    cursor: pointer;
    transition: all 900ms;
    margin: 0px auto;
    position: relative;
    z-index: 3;
}
.fullcomment:hover a,.deleteBtn{
    opacity: 1;
}
.fullcomment a:hover .deleteBtn{
    color:#fff;
    transform: rotateY(360deg);
}
.fullcomment a:before {
    content: "";
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 100%;
    background:red;
    transition: .5s;
    z-index: 2;
  }
  .fullcomment a:hover:before{
      top: -1px;
      color: #fff;
  }
/* End styles of fullComment */
.newComment{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.newComment div{
    display: flex;
    align-items: center;
    justify-content: center;
}

.newComment input ,textarea{
    margin: 7px 15px;
    padding: 5px 2px;
    border: 1px solid #e0e7ff;
    border-radius: 5px;
}
.formBtn{
    width: 45%;
    margin: 10px auto;
    background-color: #766bf7;
    color: white;
    padding: 10px 0px;
    border-radius: 10px;
    font-size: larger;
    transition: all 1s;
    cursor: pointer;
}
.formBtn:hover{
    background-color: #473ad4;
}

@media  screen and (max-width: 1200px) {
    body{
        background-color: aliceblue;
        text-align: center;
        width:100%;
        margin: 20px auto;
    }
    section{
        max-width: 40rem;
        margin: 10px auto;
        padding: 30px 10px;
        background: #e0e7ff;
        border-radius: 10px;
        color: #4338ca;
        text-align: center;
    }
    .commentSection{
        
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        margin: 20px auto;
        
    }
}
@media  screen and (max-width: 700px) {
    body{
        background-color: aliceblue;
        text-align: center;
        width:100%;
        margin: 20px auto;
    }
    .commentSection{
        width: 80%;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        margin: 20px auto;
        
    }
    .comment{
        border: 1px solid #ada6a6;
        border-radius: 10px;
        padding: 30px 20px;
        cursor: pointer;
        margin:10px 10px;
        width: 80%;
    }
    section{
        width: 80%;
        margin: 10px auto;
        padding: 30px 10px;
        background: #e0e7ff;
        border-radius: 10px;
        color: #4338ca;
        text-align: center;
    }
    .fullcomment{
        
        height: 10rem;
        display: flex;
        flex-direction: column;
        align-items: stretch;
        justify-content: space-evenly;
        background: #e0e7ff;
        border-radius: 10px;
    }
}