
body{
    background-color: aliceblue;
    text-align: center;
    width: 70rem;
    margin: 20px auto;
}

section{
    width: 45rem;
    margin: 10px auto;
    padding: 30px 10px;
    background: #e0e7ff;
    border-radius: 10px;
    color: #4338ca;
    text-align: center;
}
.commentSection{
    width: 70rem;
    display: flex;
    justify-content: space-around;
    
    
}
.comment{
    border: 1px solid #ada6a6;
    padding: 30px 20px;
    cursor: pointer;
}
.fullcomment{
    height: 10rem;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: space-evenly;
    background: #e0e7ff;
    border-radius: 10px;
}
.fullcomment button{
    width: 100px;
    margin: 0px auto;
    margin-top: 20px;
    padding: 5px 8px;
    background-color: rgb(256, 256, 256);
    color: red;
    font-size: larger;
    border-radius: 10px;
    outline: none;
    cursor: pointer;
}
.newComment{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.newComment div{
    display: flex;
    align-items: center;
    justify-content: center;
}

.newComment input ,textarea{
    margin: 7px 15px;
    padding: 5px 2px;
    border: 1px solid #e0e7ff;
    border-radius: 5px;
}
.formBtn{
    width: 100%;
    margin: 10px auto;
    background-color: #4338ca;
    color: white;
    padding: 10px 0px;
    border-radius: 10px;
    font-size: larger;
}